NODE_ENV=development
PORT=4100
DATABASE_URL="mysql://<db_user>:<db_password>@<db_host>:<db_port>/ai_pos_prod"
DEEPSEEK_API_KEY=""
DEEPSEEK_BASE_URL="https://api.deepseek.com"
DEEPSEEK_MODEL="deepseek-chat"
